<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis in iusto magnam natus quibusdam repudiandae temporibus! Ab at autem, et id incidunt ipsam mollitia non officiis qui sequi vel.</p>

</body>
</html>