<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aut commodi doloribus, error illum, ipsa itaque maxime mollitia nihil numquam ratione similique, tempore tenetur vel vitae voluptas voluptate. Ipsa.</p>
</body>
</html>